@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-style: italic;
  background-color: rgb(47, 5, 5);
}
.header{
  background-color: rgba(57, 0, 0, 0.464);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 20px;
  margin-bottom: 50px;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}
.logo{
  color: white;
  font-weight: 700;
  font-size: 1.9rem;
}
.hamburger {
  display: none;
  color: white;
}
.nav-menu-links {
  display: flex;
  gap: 16px;
  list-style: none;
  font-size: 1.5rem;
}
ul li {
  cursor: pointer;
  color: white; 
}

ul li a {
  text-decoration: none;
  color: white;  
  font-weight: 700;
  border: 1px solid rgb(162, 39, 39);
  padding: 0.7rem;
  border-radius: 1rem;
  background-color: rgba(178, 3, 3, 0.333);
  transition: all 0.5s ease-out;
  animation: zoomin 2s ease-out forwards ;
}
ul li :hover{
  background-color: rgb(183, 28, 28);
}
input{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-left: 5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
}
.hero{
  height: 700px;
  background-image: url(./images/main-menu.webp);
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
}
.hero-content{
  position: absolute;
  top: 270px;
  left: 100px;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  padding-bottom: 10px;
  animation: zoomin 1.5s ease-out forwards ;
}
h2{
  margin-left: 5rem;
  margin-top: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.movie-grid{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 4rem;
margin: 2rem;
margin: 0 auto;
padding: 5rem;
}

.movie-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid white;
  
}
.movie-card{  
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

p{
  font-weight: 600;
  padding-bottom: 10px;
  animation: zoomin 1.5s ease-out forwards ;
  color: #ffffff;
}
button {
  background-color: rgb(57, 0, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100px;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 8rem;
  margin: 1rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid rgb(199, 72, 72);
  transition: all 0.5s ease-out;
}
button:hover{
  background-color: rgb(200, 27, 27);
}

.new-movie{
  background-color: rgb(156, 5, 5);
  color: white;
  position: absolute;
  top: 10px;
  right: 4px;
  padding: 0.5rem 4rem;
  top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  transform: rotate(45deg);
  right: -3rem;
}
.photo-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 20rem);
  gap: 0.5rem;
  margin: 5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.information{
  text-align: center;
  padding-top: 1rem;
  font-weight: 700;
}
.first-photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.second-photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  grid-column: span 2;
  grid-row: span 2;
}
.third-photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.fourth-photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.fifth-photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  grid-column: span 2;
}
footer{
  background-color: rgb(57, 0, 0);
  text-align: center;
  color: #ffffff;
  padding: 1rem;
}
.contact{
  color: #ffffff;
}
.contact a{
text-decoration: none;
color: #ffffff;
}
.first{
  background-image: url(./images/wakeupdeadman\ main\ manu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}
.cinema-content{
  position: absolute;
  top: 600px;
  background-color: rgba(0, 0, 0, 0.229); 
}
.movie-name{
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-style: italic;
}
.movie-information{
  margin: 1rem;
  margin-right: 7rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.time{
  margin: 1rem;
  font-weight: 700;
}
.second{
  background-image: url(./images/avatar\ main\ menu.avif);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}

.third{
  background-image: url(./images/ballerina\ main\ menu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}

.fourth{
  background-image: url(./images/seven\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}

.fifth{
  background-image: url(./images/nowyouseeme\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}

.firstanimation{
  background-image: url(./images/badguys2\ mein\ menu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}

.secondanimation{
  background-image: url(./images/frozen2\ mein\ menu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}

.thirdanimation{
  background-image: url(./images/lilostitch\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}

.fourthanimation{
  background-image: url(./images/zootopia2\ mein\ menu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;    
}

.fifthanimation{
  background-image: url(./images/moana2\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;   
}

.firsthorror{
  background-image: url(./images/terrifier3\ mein\ menu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;     
}

.secondhorror{
  background-image: url(./images/DONOTENTER\ mein\ menu.png);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}
.thirdhorror{
  background-image: url(./images/blumhause.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;   
}
.fourthhorror{
  background-image: url(./images/conjuring3\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;     
}
.fifthhorror{
  background-image: url(./images/it2\ meinmenu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;   
}
.firstthriller{
  background-image: url(./images/fightclub\ meinmenu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;   
}
.secondthriller{
  background-image: url(./images/JOKER\ meinmenu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}
.thirdthriller{
  background-image: url(./images/parasite\ mein\ menu.avif);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}
.fourththriller{
  background-image: url(./images/pearl\ mein\ menu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}
.fifththriller{
  background-image: url(./images/sinners\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;    
}
.firstcomedy{
  background-image: url(./images/whitechicks\ mein\ menu.avif);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;      
}
.secondcomedy{
  background-image: url(./images/littleman\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;      
}
.thirdcomedy{
  background-image: url(./images/home\ alone\ meinmenu.jpg);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;    
}
.fourthcomedy{
  background-image: url(./images/hangover\ mein\ menu.avif);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}

.fifthcomedy{
  background-image: url(./images/peadpool\ mein\ menu.webp);
  height: 900px;
  background-size: cover;
  gap: 30px;
  position: relative;
  color: white;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;
}
.Contact{
  height: 100rem;
  gap: 30px;
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 5rem;  
}
.contact-container {
  background-color: rgba(247, 243, 243, 0.948);
  max-width: 65rem;
  margin: 0 auto;
  box-shadow: rgba(235, 225, 225, 0.822) 0px 3px 8px;
  padding: 2.4rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
}
.form-group {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}
.form-group label {
  font-size: 1.5rem;
  font-weight: 700;
}
input{
  border: 2px solid black;
  
}
.Accept{
  color: black;
  margin-bottom: 1rem;
}
.contact-card{
  background-color: rgba(247, 243, 243, 0.948);
  max-width: 65rem;
  margin: 0 auto;
  box-shadow: rgba(235, 225, 225, 0.822) 0px 3px 8px;
  padding: 2.4rem;
  border-radius: 1rem;
  margin-bottom: 7rem;

}

.finish{
  font-size: 1.5rem;
  margin: 2px 350px;
}

@media (max-width: 1700px){
  .movie-grid{
    grid-template-columns: repeat(4, 1fr);
  }
  .button{
    width: auto;
   padding: 0.5rem 6rem;
  }
}
@media (max-width: 1400px){
  .movie-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .button{
    width: auto;
   padding: 0.5rem 6rem;
  
  }
}
@media (max-width: 1050px){
  .movie-grid{
    grid-template-columns: repeat(2, 2fr);
  }
  nav {
    display: none;
  }
  .hamburger{
    display: block;
    font-size: 3.2rem;
    
  }
  button {
    width: auto;
    padding: 0.5rem 10rem;
  }

}
@media (max-width: 820px){
  .movie-grid{
    grid-template-columns: repeat(1, 1fr);
  }

}

